<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 30%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h1>API FOR CAMERA DETECTION</h1>

<div class="clearfix">
  <div class="img-container">
        <p align="center">Camera stream 1</p>
        <img src="{{ url_for('show_signal', device='mapue') }}" class="center"  style="border:1px solid black;width:100%" alt="Visor">
  </div>
</div>


</body>
</html>
